@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
    --brand-color: rgba(0, 132, 255, 0.73);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: "Inter", sans-serif;
}

html {
    height: 100%;
}

body {
    height: 100%;
    overflow: hidden;
}

.chat-top {
    background: var(--brand-color);
    padding: 24px 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.chat-top h1 {
    font-weight: 500;
    font-size: 20px;
    color: #fff;
}

.chat-top-btns {
    display: flex;
    align-items: center;
    gap: 16px;
}

.chat-top-btns button {
    border: none;
    background: none;
    cursor: pointer;
}

.user-item-wrapper {
    display: flex;
    align-items: center;
    gap: 16px;
    padding: 2px;
    position: relative;
}

.message-time {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 12px;
}

.user-item-text-wrapper span {
    font-size: 14px;
}

.user-item-text-wrapper h3 {
    font-size: 16px;
}

.users-items {
    display: flex;
    flex-direction: column;
    gap: 13px;
    padding: 10px;
    overflow-x: hidden;
    overflow-y: auto;
    height: 100%;
    max-height: 95vh;
    padding-bottom: 35px;
}

.chat-title {
    color: #fff;
    font-size: 25px;
    font-weight: 600;
    letter-spacing: 2px;
    margin-left: 10px;
}

.menu-open {
    position: fixed;
    left: -100%;
    width: 300px;
    height: 100%;
    background: #fff;
    z-index: 10;
    transition: all .5s ease;
}

.menu-open-active {
    left: 0;
}

.overlay {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.30);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    backdrop-filter: blur(10px);
    display: none;
}

.menu-overlay-active {
    display: flex;
}

.round-wrapper {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    padding: 15px 0;
    flex-direction: column;
    gap: 10px;
    padding-left: 20px;
    background: var(--brand-color);
}

.round-wrapper h2 {
    color: #fff;
    font-weight: 400;
    letter-spacing: 5px;
}

.menu-wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
}

.menu-items {
    width: 100%;
    padding: 10px;
    background: #fff;
    display: flex;
    align-items: center;
    gap: 10px;
    border-radius: 10px;
    cursor: pointer;
}

.menu-items:hover {
    background: #e6e6e6;
}

.menu-items:active {
    opacity: 0.8;
}

.menu-items img {
    width: 25px;
}

.round {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background: var(--brand-color);
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 30px;
}